<?xml version="1.0" encoding="UTF-8"?>
<!--web.xml is your depoyment descriptor
        this is how tomcat gathers information about your project, such as welcome files,
            available servlets, how to handle errors and exceptions, and other various
            configurations you may want tomcat to know about.
    It belongs in src/main/webapp/WEB-INF/ directory
-->
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">


    <listener>
        <listener-class>com.sydneehaley.servlet.Listener</listener-class>
    </listener>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.AdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admins</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authServlet</servlet-name>
        <url-pattern>/users/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>authorizeServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.AuthorizeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authorizeServlet</servlet-name>
        <url-pattern>/users/auth/session</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.sydneehaley.servlet.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>