<?xml version="1.0" encoding="UTF-8"?>
<!--web.xml is your depoyment descriptor
        this is how tomcat gathers information about your project, such as welcome files,
            available servlets, how to handle errors and exceptions, and other various
            configurations you may want tomcat to know about.
    It belongs in src/main/webapp/WEB-INF/ directory
-->
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">


    <listener>
        <listener-class>com.sydneehaley.servlet.Listener</listener-class>
    </listener>

    <servlet>
        <servlet-name>userServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>authServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>authServlet</servlet-name>
        <url-pattern>/users/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>storeUserServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.CurrentUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>storeUserServlet</servlet-name>
        <url-pattern>/users/auth/session/user</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ticketServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.TicketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ticketServlet</servlet-name>
        <url-pattern>/tickets</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>adminAuthServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.AdminServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminAuthServlet</servlet-name>
        <url-pattern>/auth/admin</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.UpdateTicketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/admins/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>approveServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.ApproveTicketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>approveServlet</servlet-name>
        <url-pattern>/admins/approve</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>com.sydneehaley.servlet.DeleteTicketServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/admins/delete</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.sydneehaley.servlet.CorsFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>